# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
rebut/
*.egg-info/

# pytorch/python formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VS code 
.vscode

# MacOS
.DS_Store

# project dirs
/data
/datasets
models
output
exps
predictions

# hidden folder for aml configs
.azureml
.git
